.powered-by{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #46464759;
    font-weight: 500;
    z-index: 999;
    white-space: nowrap;
}
