<div class="example-container" [class.example-is-mobile]="isMobile()">
    <mat-toolbar class="app-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <div class="app-toolbar-content">
        <h1 routerLink="" class="app-name">שני ושישי</h1>
        <mat-icon routerLink="">sports_soccer</mat-icon>
      </div>
    </mat-toolbar>

    <mat-sidenav-container [hasBackdrop]="true" class="example-sidenav-container"
                       >
      <mat-sidenav class="app-sidenav" #snav [mode]="isMobile() ? 'over' : 'side'"
                  [fixedInViewport]="isMobile()" fixedTopGap="56">
        <mat-nav-list class="app-sidenav-list">
          <div (click)="snav.close()" routerLink="players" class="app-link">
            <h3  i18n="players nav item" mat-list-item >שחקנים</h3>
            <mat-icon>list</mat-icon>
          </div>  
          <div (click)="snav.close()" routerLink="draws" class="app-link">
            <h3  i18n="players nav item" mat-list-item >קבוצות</h3>
            <mat-icon>groups</mat-icon>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>